@import "../settings/settings";

.navbar-container {
  #rwd-trigger {
    display: none;
  }

  .sf-menu {
    float: right;
  }

  .rwd-menu {
    display: none;
    a {
      display: block;
      padding: .75em 1.5em;
      font-weight: bold;
      text-decoration: none;
      &:active {
        background-color: $btn-default-bg;
      }
    }
  }

   ul {
    list-style-type: none;
    margin-bottom: 0;
  }
  @media (max-width: 768px) {
    .logo img,
    #rwd-trigger {
      display: block;
      margin: 0 auto $baseline auto;
    }

    .sf-menu {
      display: none;

    }
  }
}
